/********************
  Colors
********************/
$color-primary:      #DA383F;
$color-primary-dark: #B7363B;
$color-black:        #2C2C2C;
$color-white:        #FFFFFF;

/********************
  Fonts
********************/
// Base:
$base-ff:            'Kreon';
$base-fz:            1em;
$base-fw:            300;
$base-lh:            1.6;

// Heading:
$heading-ff:         'Raleway';
$heading-fz:         2em;
$heading-fw:         600;
$heading-lh:         1;

// Subheading:
$subheading-ff:      'Raleway';
$subheading-fz:      1.5em;
$subheading-fw:      400;
$subheading-lh:      1.3;


/********************
  Spacing
********************/
$spacing-unit:       2.1875rem; // 35px


/********************
  Breakpoints
********************/
$breakpoints: (
  'small': 48em, /* 768px */
  'medium': 62em, /* 992px */
  'large': 75em /* 1200px */
);
