/********************
  Colors
********************/

$color-primary:      #DA383F;
$color-primary-dark: #B7363B;
$color-black:        #2C2C2C;
$color-white:        #FFFFFF;

/********************
  Fonts
********************/

// Base:
$base-ff:            'Kreon';
$base-fz:            1em;
$base-fw:            300;
$base-lh:            1.6;

// Heading:
$heading-ff:         'Raleway';
$heading-fz:         2em;
$heading-fw:         600;
$heading-lh:         1;

// Subheading:
$subheading-ff:      'Raleway';
$subheading-fz:      1.5em;
$subheading-fw:      400;
$subheading-lh:      1.3;

/********************
  Spacing
********************/

$spacing-unit:       2.1875rem; // 35px

/********************
  Mixins
********************/

// Prefixer:
$prefixes:           webkit, moz, o;

@mixin prefix($property, $value) {
  @each $prefix in $prefixes {
    @if $property == 'display' {
      #{$property}: #{'-' + $prefix + '-' + $value};
    } @else {
      #{'-' + $prefix + '-' + $property}: $value;
    }
  }
  #{$property}: $value;
}

// Media queries:
@mixin largeScreen {
  @media all and (min-width: 40em) {
    @content;
  }
}
