/********************
  General
********************/

* {
  @include prefix(box-sizing, border-box);
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  position: relative;
  color: $color-black;
  font-family: $base-ff;
  font-size: $base-fz;
  font-weight: $base-fw;
  line-height: $base-lh;
}

h1 {
  font-family: $heading-ff;
  font-size: $heading-fz;
  font-weight: $heading-fw;
  line-height: $heading-lh;
}

h2 {
  font-family: $subheading-ff;
  font-size: $subheading-fz;
  font-weight: $subheading-fw;
  line-height: $subheading-lh;
}

small {
  font-family: $base-ff;
  font-size: .75 * $base-fz;
  font-weight: $base-fw;
  line-height: $base-lh;
}

/********************
  Loader
********************/

.loader {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0;
  background-color: rgba(255,255,255,.3);
  @include prefix(pointer-events, none);
  @include prefix(transition, opacity 1s ease);

  &.show {
    opacity: 1;
  }

  &::after {
    position: absolute;
    z-index: 11;
    left: calc((100% - #{2 * $spacing-unit}) / 2);
    top: calc((100% - #{2 * $spacing-unit}) / 2);
    display: block;
    width: #{2 * $spacing-unit};
    height: #{2 * $spacing-unit};
    border: .625rem solid transparent;
    border-top-color: $color-black;
    border-radius: 50%;
    content: '';
    @include prefix(transform, rotate(0deg));
    @include prefix(animation, loading 1s ease-in-out infinite);
  }
}

@-webkit-keyframes loading {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
  0%   { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes loading {
  0%   { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/********************
  Action button
********************/

.action-btn {
  @include prefix(display, inline-flex);
  @include prefix(flex-wrap, nowrap);
  @include prefix(justify-content, space-between);
  @include prefix(align-items, center);
  min-height: #{2 * $spacing-unit};
  padding: 1.5625rem #{1.5 * $spacing-unit};
  border: .3125rem solid $color-black;
  border-radius: #{2 * $spacing-unit};
  color: $color-black;
  background-color: transparent;
  font-family: $subheading-ff;
  font-size: 1.25em;
  font-weight: $heading-fw;
  text-align: left;
  text-decoration: none;
  line-height: $subheading-lh;
  cursor: pointer;
  @include prefix(transition, all .3s ease);

  & > svg {
    @include prefix(flex, 0 0 auto);
    display: block;
    width: auto;
    height: 1rem;
    margin-left: #{.5 * $spacing-unit};
    fill: $color-black;
    @include prefix(transform, translateX(0));
    @include prefix(transition, all .3s ease);
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-white;
    background-color: $color-black;
    & > svg {
      fill: $color-white;
      @include prefix(transform, translateX(.625rem));
    }
  }

  &--primary {
    border-color: $color-primary;
    color: $color-primary;
    & > svg { fill: $color-primary; }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-primary;
    }
  }

  &--white {
    border-color: $color-white;
    color: $color-white;
    & > svg { fill: $color-white; }

    &:hover,
    &:active,
    &:focus {
      color: $color-black;
      background-color: $color-white;
      & > svg { fill: $color-black; }
    }
  }
}

/********************
  Footer
********************/

.site-footer {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  min-height: #{2 * $spacing-unit};
  padding: 1.8125rem #{1.5 * $spacing-unit};
  color: $color-white;
  background-color: $color-black;
  font-family: $heading-ff;
  font-size: .75 * $base-fz;
  font-weight: 400;
  line-height: $subheading-lh;

  & a {
    color: $color-white;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $color-primary;
    }
  }
}
