.my-story {
  & nav {
    & ol {
      z-index: 100;
    }

    & > a {
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
	    display: block;
	    width: 5rem;
	    height: 5rem;
      padding: $spacing-unit;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-black;
      }

      & img {
        width: 100%;
        height: auto;
      }
    }

    & .register-years {
      position: fixed;
      left: 0;
      top: 0;
      @include prefix(display, flex);
      @include prefix(flex-direction, column);
      width: 5rem;
      height: 100vh;
	    padding: 0;
      padding-top: 5rem;
	    margin: 0;
      background-color: $color-primary;

      & > li {
        display: block;
        width: 5rem;

        &:hover,
        &:focus,
        &.active-menu {
          background-color: $color-black;
        }

        & > a {
          @include prefix(display, flex);
          @include prefix(justify-content, center);
          @include prefix(align-items, center);
          width: 100%;
          height: 100%;
          padding: 0 .5rem;
          color: $color-white;
          font-size: 1.25rem;
          text-decoration: none;
        }
      }
    }

    & .register-chapters {
      position: fixed;
      z-index: 100;
      left: 5rem;
      top: 0;
      display: none;
      @include prefix(flex-wrap, nowrap);
      width: calc(100% - 5rem);
      height: 5rem;
      padding: 0;
      margin: 0;
      background-color: $color-primary;

      &.show-chapter {
        z-index: 1000;
        @include prefix(display, flex);
      }

      & > li {
        display: block;
        height: 5rem;

        & > a {
          @include prefix(justify-content, flex-start);
          margin-left: 2rem;
          color: $color-primary;
        }

        & > button {
          @include prefix(justify-content, flex-start);
          margin-left: 2rem;
        }
      }
    }
  }

  & .personal-data {
    display: block;
    margin: $spacing-unit 5%;
  }

  /********************
    Article
  ********************/

  & main {
    width: calc(100% - 5rem);
	  margin-left: 5rem;
	  margin-top: 5rem;

    & .action-btn {
      position: fixed;
      z-index: 100;
      left: 0;
      bottom: 0;
      width: 5rem;
      height: 5rem;
      padding: $spacing-unit;
      border-radius: 0;
      @include largeScreen() {
        left: inherit;
        top: 0;
        right: 0;
        bottom: none;
        width: auto;
        height: 3.125rem;
        padding: 0 1rem;
        border-radius: .625rem;
        margin: $spacing-unit;
      }

      & > svg {
        height: 100%;
        @include largeScreen() {
          display: none;
        }
      }

      & > span {
        display: none;
        @include largeScreen() {
          display: block;
        }
      }
    }
  }

  /********************
    Copy link modal
  ********************/

  & .modal-overlay {
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    display: none;
    @include prefix(justify-content, center);
    @include prefix(align-items, center);
    width: 100%;
    height: 100%;
    padding: $spacing-unit;
    background-color: rgba(0,0,0,.8);

    &.show {
      @include prefix(display, flex);
    }
  }

  & .modal {
    position: relative;
    display: block;
    width: 100%;
    max-width: 40rem;
    padding: $spacing-unit;
    border-radius: .625rem;
    background-color: $color-white;

    & p {
      margin: #{2 * $spacing-unit} 0;
      font-size: 1.25em;
    }
  }

  & .modal-close-btn {
    position: absolute;
    top: -1.5625rem;
    right: -1.5625rem;
    @include prefix(display, flex);
    @include prefix(justify-content, center);
    @include prefix(align-items, center);
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
	  color: $color-white;
    background-color: $color-primary;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color-black;
    }

    & > svg {
      width: 100%;
      height: auto;
      fill: $color-white;
    }
  }

  & .copy-link {
    @include prefix(display, flex);

    & input {
      @include prefix(flex, 1 1 auto);
      display: block;
      min-width: 0;
      height: 4rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: 0;
      color: $color-black;
      background-color: #f2f2f2;
      font-size: 1.25em;
      font-weight: $base-fw;

      &:hover,
      &:focus {
        background-color: rgba(0,0,0,.15);
      }
    }

    & button {
      height: 4rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & article {
    width: 90%;
	  margin-left: 5%;

    &:last-of-type {
      min-height: 100vh;
    }
  }

  /********************
    Sticky title
  ********************/

  & .title-sticky {
    position: sticky;
    z-index: 0;
    top: 0;
    padding: 2% 0;
 	  background-color: $color-white;
  }

  & img.crosses {
    width: 4rem;
    margin-bottom: $spacing-unit;
  }

  & h2 {
    width: 100%;
  }

  /********************
    Images grid
  ********************/

  & main ul {
    @include prefix(columns, 15rem 3);
    padding: 0;
    margin: 0;
	  list-style: none;

    & li {
      display: inline-block;
	    opacity: 1;
      border-radius: 5px;
      margin-bottom: 10%;
      color: $color-black;
	    background-color: $color-white;
      break-inside: avoid;

      & div {
        & p {
          display: inline-block;
          width: 75%;
          padding: 2%;
          border: 1px solid transparent;
          margin: 0;

          &::after {
            display: inline-block;
  	        width: .9375rem;
  	        height: .9375rem;
            margin-left: 5%;
            background-image: url(/images/icons/edit.svg);
  	        background-size: .9375rem .9375rem;
  	        content: '';
          }

          &:active,
          &:focus {
            border: .0625rem solid $color-black;
            outline: none;

            &::after {
              background-image: none;
            }
          }
        }

        & a {
          display: inline-block;
          width: 7.5%;
          margin-left: 5%;
	        margin-top: 5%;

          &:hover,
          &:focus {
            padding-bottom: 1%;
            border-bottom: .125rem solid $color-black;
            outline: 0;
          }

          & img {
            width: 75%;
          }
        }

        &:first-child img {
          width: 100%;
        }
      }
    }
  }
}
