.contents {
  position: relative;
  top: 4rem;
  display: block;
  width: 100%;
  margin-bottom: 22.5vh;
  @include smallScreen() {
    left: 7.5vw;
    top: 0;
    width: calc(100% - 7.5vw);
  }

  & > h1 {
    display: block;
    margin: $spacing-unit;
  }
}

.year {
  display: block;
  margin: $spacing-unit;

  & .crosses {
    width: auto;
    height: 2rem;
  }

  & .street {
    @include prefix(columns, 15rem);
    @include prefix(column-gap, $spacing-unit);
    width: 100%;
    padding-bottom: $spacing-unit;
    border-bottom: 1px solid $color-black;
    margin: $spacing-unit 0;
  }
}
