.site-footer {
  z-index: 10;
  display: block;
  width: 100%;
  min-height: #{2 * $spacing-unit};
  padding: 1.8125rem $spacing-unit;
  color: $color-white;
  background-color: $color-black;
  font-family: $heading-ff;
  font-size: .75 * $base-fz;
  font-weight: 400;
  line-height: $subheading-lh;
  @include smallScreen() {
    padding: 1.8125rem #{1.5 * $spacing-unit};
  }

  & a {
    color: $color-white;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $color-primary;
    }
  }
}
