.instructions {
  z-index: 1;
  display: block;
  overflow-y: scroll;
  width: 100%;
  padding: 0 $spacing-unit;
  padding-bottom: #{3.5 * $spacing-unit};
  margin-top: 25vh;
  box-shadow: 0 0 0 .625rem rgba(44,44,44,.3);
  color: $color-white;
  background-color: $color-primary;
  @include smallScreen() {
    width: 30rem;
    height: 100vh;
    padding: 0 #{1.5 * $spacing-unit};
    padding-bottom: #{2.5 * $spacing-unit};
    margin-top: 0;
  }

  & .pager {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    @include smallScreen() {
      max-width: none;
    }

    & .steps {
      position: relative;
      @include prefix(display, flex);
      @include prefix(flex-wrap, nowrap);
      @include prefix(justify-content, space-between);
      @include prefix(align-items, center);
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;
      list-style-type: none;
      @include smallScreen() {
        margin-bottom: #{1.5 * $spacing-unit};
      }

      &::before {
        position: absolute;
        z-index: -1;
        left: 0;
        top: calc((100% - .625rem) / 2);
        right: 0;
        display: block;
        height: .3125rem;
        margin-top: 0;
        border-radius: .3125rem;
        background-color: $color-primary-dark;
        content: '';
        @include smallScreen() {
          height: .625rem;
        }
      }

      & a {
        @include prefix(display, flex);
        @include prefix(justify-content, center);
        @include prefix(align-items, center);
        width: 1.5625rem;
        height: 1.5625rem;
        padding: .28125rem;
        border-radius: 50%;
        color: $color-white;
        background-color: $color-black;
        font-family: $base-ff;
        font-size: 1em;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        line-height: 1;
        @include prefix(transform, scale(1,1));
        @include prefix(transition, transform .3s ease);
        @include smallScreen() {
          width: $spacing-unit;
          height: $spacing-unit;
          padding: .46875rem;
          font-size: 1.25em;
        }

        & > svg {
          display: block;
          width: 80%;
          height: auto;
          fill: $color-white;
        }

        &.active {
          color: $color-black;
          background-color: $color-white;
          @include prefix(transform, scale(2,2));

          & > svg {
            fill: $color-black;
          }
        }

        &:not(.active):hover,
        &:not(.active):active,
        &:not(.active):focus {
          @include prefix(transform, scale(1.2,1.2));
        }
      }
    }
  }

  & .slide {
    display: none;
    @include prefix(flex-direction, column);
    @include prefix(justify-content, space-between);
    @include prefix(align-items, flex-start);
    width: 100%;
    min-height: calc(100% - #{4.5 * $spacing-unit});

    &.active {
      @include prefix(display, flex);
    }

    & article h1 {
      margin-bottom: $spacing-unit;
    }

    & article p {
      margin-top: #{.5 * $spacing-unit};
      margin-bottom: $spacing-unit;
      color: #000;

      & > a {
        color: inherit;
        font-weight: 700;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          color: $color-white;
        }
      }
    }
  }

  & .action-btn {
    margin: #{.5 * $spacing-unit} 0;
    margin-top: $spacing-unit;
  }

  .location-timestamp {
    height: calc(100vh - .625rem - .6rem - #{2.5 * $spacing-unit} - #{4.5 * $spacing-unit});
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
