<footer class="site-footer">
	Dit project is ontwikkeld door <a href="https://www.devriesdesigns.nl" target="_blank">Max de Vries</a> en <a href="https://www.linkedin.com/in/suus-ten-voorde-61962814b/" target="_blank">Suus ten Voorde</a> in samenwerking met <a href="https://www.adamlink.nl" target="_blank">Adamlink</a> en de <a href="https://www.oba.nl/actueel/obahva.html" target="_blank">Openbare Bibliotheek Amsterdam.</a> Meer weten over dit project? <a href="/over">Klik hier.</a>
</footer>

<div class="photo-detail-modal__overlay">
	<div class="photo-detail-modal">
		<img class="photo-detail__img" src="" alt="">
		<article class="photo-detail">
			<p class="photo-detail__desc"></p>
		</article>
		<button class="share-btn" type="submit"><%- include('../../public/images/icons/share.svg') %></button>
		<button class="close-btn" type="button"><%- include('../../public/images/icons/close.svg') %></button>
	</div>
</div>

<div class="loader"></div>
