<!DOCTYPE html>
<html lang="nl">
  <%- include('partials/head.ejs') %>
  <body class="about">

    <section class="overlay">
      <article class="project-info">
        <h1>Over dit project</h1>
        <p>
          Een stukje nostalgie brengt je terug naar jouw herinneringen uit Amsterdam. Laat je verrassen door mooie foto's uit het verleden van jouw straat, die van een vriend of vriendin, of ga samen met familie terug naar jullie vroegere buurt. Vind en deel jouw eigen stukje nostalgie!
        </p>
        <p>
          Max de Vries en Suus ten Voorde zijn dit project in 2018 gestart in samenwerking met de OBA en Adamlink. Wat begon als een studieproject is twee jaar later uitgegroeid tot een waardige applicatie; Een platform waar (oud) Amsterdammers hun nostalgische gevoelens naar boven kunnen halen en delen met vrienden of familie.
        </p>
        <p>
          De collecties komen van erfgoedinstellingen, zoals het Stadsarchief, het Amsterdams Museum, het IISG en de OBA.
        </p>
        <p>
          Het bijzondere aan deze applicatie is dat je intuïtief kunt zoeken. Geen lange archieven die je moet afgaan of de beeldbank die zich beperkt tot alleen zoektermen. Een stukje nostalgie laat de gebruiker zoeken op locatie en tijd. Hoe tof is het dat je tegenwoordig zo eenvoudig door de geschiedenis heen kan scrollen?
        </p>
      </article>

      <a class="action-btn action-btn--white back-btn" href="/" role="button">
        <%- include('../public/images/icons/arrow-left.svg') %>
        <span>Terug</span>
      </a>
    </section>

    <%- include('partials/foot.ejs') %>
  </body>
</html>
