/********************
  Kreon
********************/
@font-face {
  src: url(../fonts/kreon_light.ttf);
  font-family: 'Kreon';
  font-weight: 300;
  font-style: normal; }

@font-face {
  src: url(../fonts/kreon_regular.ttf);
  font-family: 'Kreon';
  font-weight: 400;
  font-style: normal; }

@font-face {
  src: url(../fonts/kreon_bold.ttf);
  font-family: 'Kreon';
  font-weight: 700;
  font-style: normal; }

/********************
  Raleway
********************/
@font-face {
  src: url(../fonts/raleway_regular.ttf);
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal; }

@font-face {
  src: url(../fonts/raleway_italic.ttf);
  font-family: 'Raleway';
  font-weight: 400;
  font-style: italic; }

@font-face {
  src: url(../fonts/raleway_semibold.ttf);
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal; }

@font-face {
  src: url(../fonts/raleway_semibolditalic.ttf);
  font-family: 'Raleway';
  font-weight: 600;
  font-style: italic; }

@font-face {
  src: url(../fonts/raleway_bold.ttf);
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal; }

@font-face {
  src: url(../fonts/raleway_bolditalic.ttf);
  font-family: 'Raleway';
  font-weight: 700;
  font-style: italic; }

/********************
  Colors
********************/
/********************
  Fonts
********************/
/********************
  Spacing
********************/
/********************
  Mixins
********************/
/********************
  General
********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; }

body {
  color: #2C2C2C;
  font-family: "Kreon";
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6; }

h1 {
  font-family: "Raleway";
  font-size: 2em;
  font-weight: 600;
  line-height: 1; }

h2 {
  font-family: "Raleway";
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.3; }

small {
  font-family: "Kreon";
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1.6; }

/********************
  Action button
********************/
.action-btn {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  min-height: 4.375rem;
  padding: 1.5625rem 3.28125rem;
  border: 0.3125rem solid #2C2C2C;
  border-radius: 4.375rem;
  color: #2C2C2C;
  background-color: transparent;
  font-family: "Raleway";
  font-size: 1.25em;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  line-height: 1.3;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .action-btn > svg {
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -o-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    width: auto;
    height: 1rem;
    margin-left: 1.09375rem;
    fill: #2C2C2C;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .action-btn:hover, .action-btn:active, .action-btn:focus {
    color: #FFFFFF;
    background-color: #2C2C2C; }
    .action-btn:hover > svg, .action-btn:active > svg, .action-btn:focus > svg {
      fill: #FFFFFF;
      -webkit-transform: translateX(0.625rem);
      -moz-transform: translateX(0.625rem);
      -o-transform: translateX(0.625rem);
      transform: translateX(0.625rem); }
  .action-btn--primary {
    border-color: #DA383F;
    color: #DA383F; }
    .action-btn--primary > svg {
      fill: #DA383F; }
    .action-btn--primary:hover, .action-btn--primary:active, .action-btn--primary:focus {
      background-color: #DA383F; }
  .action-btn--white {
    border-color: #FFFFFF;
    color: #FFFFFF; }
    .action-btn--white > svg {
      fill: #FFFFFF; }
    .action-btn--white:hover, .action-btn--white:active, .action-btn--white:focus {
      color: #2C2C2C;
      background-color: #FFFFFF; }
      .action-btn--white:hover > svg, .action-btn--white:active > svg, .action-btn--white:focus > svg {
        fill: #2C2C2C; }

/********************
  Image detail
********************/
/********************
  Map
********************/
#map {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 30rem); }
  #map .leaflet-interactive {
    fill: #DA383F;
    stroke: #B7363B; }
  #map .leaflet-control-attribution {
    display: none; }

/********************
  Radius select
********************/
.radius-select {
  position: absolute;
  display: block;
  height: 2.1875rem;
  padding: 0.59375rem 1.09375rem;
  padding-right: 2.1875rem;
  border: 0;
  border-radius: .625rem;
  outline: 0;
  box-shadow: 0 0 0 0.3125rem rgba(44, 44, 44, 0.2);
  color: #FFFFFF;
  background-color: #B7363B;
  background-image: url(../images/icons/select.svg);
  background-position: calc(100% - 1.09375rem) 50%;
  background-repeat: no-repeat;
  background-size: auto .75rem;
  font-family: "Raleway";
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .radius-select:hover, .radius-select:focus {
    background-color: #943337; }

/********************
  Title
********************/
.title {
  position: absolute;
  top: 0;
  left: 30rem;
  display: block;
  margin: 2.1875rem;
  color: #2C2C2C;
  font-weight: 700; }
  .title > strong {
    color: #DA383F; }

/********************
  Instructions
********************/
.instructions {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  overflow-y: scroll;
  width: 30rem;
  padding: 3.28125rem;
  padding-top: 0;
  padding-bottom: 1.09375rem;
  box-shadow: 0 0 0 0.625rem rgba(44, 44, 44, 0.3);
  color: #FFFFFF;
  background-color: #DA383F; }
  .instructions .pager .steps {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin-top: 2.1875rem;
    margin-bottom: 3.28125rem;
    list-style-type: none; }
    .instructions .pager .steps::before {
      position: absolute;
      z-index: -1;
      left: 0;
      top: calc((100% - .625rem) / 2);
      right: 0;
      display: block;
      height: .625rem;
      margin-top: 0;
      border-radius: .3125rem;
      background-color: #B7363B;
      content: ''; }
    .instructions .pager .steps a {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -o-align-items: center;
      align-items: center;
      width: 2.1875rem;
      height: 2.1875rem;
      padding: .46875rem;
      border-radius: 50%;
      color: #FFFFFF;
      background-color: #2C2C2C;
      font-family: "Kreon";
      font-size: 1.25em;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      line-height: 1;
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      transition: transform 0.3s ease; }
      .instructions .pager .steps a > svg {
        display: block;
        width: 80%;
        height: auto;
        fill: #FFFFFF; }
      .instructions .pager .steps a.active {
        color: #2C2C2C;
        background-color: #FFFFFF;
        -webkit-transform: scale(2, 2);
        -moz-transform: scale(2, 2);
        -o-transform: scale(2, 2);
        transform: scale(2, 2); }
        .instructions .pager .steps a.active > svg {
          fill: #2C2C2C; }
      .instructions .pager .steps a:not(.active):hover, .instructions .pager .steps a:not(.active):active, .instructions .pager .steps a:not(.active):focus {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2); }
  .instructions .slide {
    display: none;
    width: 100%;
    min-height: calc(100% - 16.40625rem); }
    .instructions .slide.active {
      display: block; }
    .instructions .slide > h1 {
      margin: 2.1875rem 0; }
    .instructions .slide > h2 {
      margin: 1.09375rem 0; }
    .instructions .slide > p {
      margin-top: 1.09375rem;
      margin-bottom: 2.1875rem;
      color: #2C2C2C; }
  .instructions .action-btn {
    margin-top: 2.1875rem; }

/********************
  Searchbar
********************/
.searchbar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 4.375rem;
  border-radius: .625rem; }
  .searchbar > input[type='text'] {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -o-flex: 1 0 auto;
    flex: 1 0 auto;
    display: block;
    padding-right: 0;
    border-radius: .625rem 0 0 .625rem;
    outline: 0;
    color: #FFFFFF;
    background-color: #B7363B;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    .searchbar > input[type='text']::placeholder {
      color: #CCC; }
    .searchbar > input[type='text']:hover, .searchbar > input[type='text']:focus {
      background-color: rgba(44, 44, 44, 0.4); }
  .searchbar > button[type='submit'] {
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -o-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    padding: 1.5625rem;
    border: 0;
    border-radius: 0 .625rem .625rem 0;
    outline: 0;
    background-color: #B7363B;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    .searchbar > button[type='submit'] > svg {
      display: block;
      width: 100%;
      height: auto;
      fill: #FFFFFF;
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      transition: transform 0.3s ease; }
    .searchbar > button[type='submit']:hover, .searchbar > button[type='submit']:focus {
      background-color: rgba(44, 44, 44, 0.4); }
      .searchbar > button[type='submit']:hover > svg, .searchbar > button[type='submit']:focus > svg {
        -webkit-transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        -o-transform: scale(1.4, 1.4);
        transform: scale(1.4, 1.4); }

/********************
  Autocomplete
********************/
.autocomplete-items {
  list-style-type: none; }
  .autocomplete-items a {
    position: relative;
    display: inline-block;
    padding: 1.09375rem;
    padding-left: calc(1rem + 3.28125rem);
    color: #CCC;
    font-family: "Kreon";
    font-size: 1em;
    font-weight: 300;
    line-height: 1.3;
    text-decoration: none; }
    .autocomplete-items a::before {
      position: absolute;
      left: 0;
      display: block;
      width: 1rem;
      height: 1rem;
      margin-left: 2.1875rem;
      margin-right: 1.09375rem;
      background-image: url(../images/icons/search.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: ''; }
    .autocomplete-items a:hover, .autocomplete-items a:active, .autocomplete-items a:focus {
      color: #2C2C2C; }
      .autocomplete-items a:hover > strong, .autocomplete-items a:active > strong, .autocomplete-items a:focus > strong {
        color: #2C2C2C; }
    .autocomplete-items a > strong {
      color: #FFFFFF;
      font-weight: 400; }

/********************
  Year selection
********************/
.year-selection {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  list-style-type: none; }
  .year-selection > li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between; }
    .year-selection > li small {
      display: block;
      width: 100%;
      color: #2C2C2C; }
    .year-selection > li select {
      display: block;
      height: 4.375rem;
      padding: 1.5625rem 2.1875rem;
      padding-right: 4.375rem;
      border: 0;
      border-radius: .625rem;
      outline: 0;
      margin-top: 1.09375rem;
      color: #FFFFFF;
      background-color: #B7363B;
      background-image: url(../images/icons/select.svg);
      background-position: calc(100% - 2.1875rem) 50%;
      background-repeat: no-repeat;
      background-size: 1rem auto;
      font-family: "Raleway";
      font-size: 1.25em;
      font-weight: 600;
      line-height: 1;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
      .year-selection > li select:hover, .year-selection > li select:focus {
        background-color: rgba(44, 44, 44, 0.4); }

.create-story {
  /********************
    Layout page
  ********************/
  /********************
    Map visualisation
  ********************/
  /********************
    Table of contents
  ********************/
  /********************
    Contents
  ********************/
  /********************
    Selected-images bar
  ********************/ }
  .create-story .grid {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .create-story .map-visualisation {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
    width: 4.5rem; }
    @media all and (min-width: 50em) {
      .create-story .map-visualisation {
        display: block; } }
    .create-story .map-visualisation #map {
      width: 20vw;
      height: 100vh; }
      .create-story .map-visualisation #map .leaflet-interactive {
        display: none; }
    .create-story .map-visualisation .back {
      position: absolute;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 4.5rem;
      height: 4.5rem;
      padding: 2.1875rem;
      background-color: rgba(255, 255, 255, 0.8);
      text-decoration: none; }
      .create-story .map-visualisation .back svg {
        width: 100%;
        height: auto; }
      .create-story .map-visualisation .back:hover svg,
      .create-story .map-visualisation .back:active svg,
      .create-story .map-visualisation .back:focus svg {
        fill: #DA383F; }
  .create-story .table-of-contents {
    -webkit-flex: 0 0 10vw;
    -moz-flex: 0 0 10vw;
    -o-flex: 0 0 10vw;
    flex: 0 0 10vw;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    display: block;
    height: 100vh; }
    @media all and (min-width: 50em) {
      .create-story .table-of-contents {
        left: 4.5rem;
        width: 15vw;
        height: 100%; } }
    .create-story .table-of-contents button {
      display: block;
      width: 4rem;
      height: 4rem;
      padding: 1rem;
      border: 0;
      border-radius: 0;
      background-color: #DA383F; }
      @media all and (min-width: 50em) {
        .create-story .table-of-contents button {
          display: none; } }
      .create-story .table-of-contents button svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #FFFFFF; }
      .create-story .table-of-contents button:nth-child(2) svg {
        width: 75%;
        height: 75%;
        margin: 12.5%; }
    .create-story .table-of-contents .close {
      display: none; }
    @media all and (min-width: 50em) {
      .create-story .table-of-contents .open,
      .create-story .table-of-contents .close {
        display: none !important; } }
    .create-story .table-of-contents ol {
      z-index: 99;
      display: block;
      overflow: scroll;
      height: calc(100vh - 4rem);
      background-color: #DA383F;
      list-style: none;
      clear: both;
      -webkit-transform: translateX(-4rem);
      -moz-transform: translateX(-4rem);
      -o-transform: translateX(-4rem);
      transform: translateX(-4rem);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      @media all and (min-width: 50em) {
        .create-story .table-of-contents ol {
          height: 100vh;
          padding-top: 5vh;
          background-color: rgba(255, 255, 255, 0.8);
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0); } }
      @media all and (min-width: 50em) {
        .create-story .table-of-contents ol::after {
          position: absolute;
          z-index: 100;
          top: 0;
          right: 0;
          width: 50%;
          min-height: 100vh;
          height: inherit;
          padding-bottom: 5%;
          background-color: #DA383F;
          content: ''; } }
      .create-story .table-of-contents ol li a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        text-decoration: none; }
        @media all and (min-width: 50em) {
          .create-story .table-of-contents ol li a {
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
            color: #2C2C2C; } }
        .create-story .table-of-contents ol li a:hover, .create-story .table-of-contents ol li a:active, .create-story .table-of-contents ol li a:focus {
          color: #DA383F; }
      .create-story .table-of-contents ol li h2 {
        width: 50%;
        padding: .25rem 0;
        color: #FFFFFF;
        font-size: 1em;
        text-align: center;
        text-decoration: underline;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
        @media all and (min-width: 50em) {
          .create-story .table-of-contents ol li h2 {
            color: #2C2C2C; } }
        .create-story .table-of-contents ol li h2.active-year {
          font-size: 1.25em;
          font-weight: 600;
          text-decoration: none; }
          @media all and (min-width: 50em) {
            .create-story .table-of-contents ol li h2.active-year {
              position: relative;
              z-index: 1000;
              width: 50%;
              margin-left: 50%;
              color: #FFFFFF;
              font-size: 1.75em;
              font-weight: 600;
              text-align: center;
              text-decoration: none; } }
    .create-story .table-of-contents .first {
      -webkit-transform: translateX(-4rem);
      -moz-transform: translateX(-4rem);
      -o-transform: translateX(-4rem);
      transform: translateX(-4rem); }
      @media all and (min-width: 50em) {
        .create-story .table-of-contents .first {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0); } }
    .create-story .table-of-contents .close-menu {
      -webkit-transform: translateX(-4rem);
      -moz-transform: translateX(-4rem);
      -o-transform: translateX(-4rem);
      transform: translateX(-4rem); }
    .create-story .table-of-contents .open-menu {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .create-story .contents {
    position: relative;
    top: 4rem;
    display: block;
    width: 100%; }
    @media all and (min-width: 50em) {
      .create-story .contents {
        left: calc(15vw + 4.5rem);
        top: 0;
        width: calc(100% - 15vw - 4.5rem); } }
    .create-story .contents h1 {
      display: block;
      width: 95%;
      margin: 2.5vw; }
  .create-story .year {
    margin: 0 2.5vw; }
    .create-story .year .crosses {
      width: 10rem;
      margin-top: 2%;
      margin-bottom: 5%; }
  .create-story .data ul {
    -webkit-columns: 15rem 2;
    -moz-columns: 15rem 2;
    -o-columns: 15rem 2;
    columns: 15rem 2;
    margin: 0;
    padding: 0;
    list-style: none; }
    @media all and (min-width: 50em) {
      .create-story .data ul {
        -webkit-columns: 20vw 3;
        -moz-columns: 20vw 3;
        -o-columns: 20vw 3;
        columns: 20vw 3; } }
    .create-story .data ul li {
      opacity: 1;
      border-radius: .3125rem;
      margin-bottom: 10%;
      color: #2C2C2C;
      background-color: #FFFFFF;
      break-inside: avoid; }
      .create-story .data ul li label {
        cursor: pointer; }
      .create-story .data ul li div p {
        display: inline-block;
        width: 75%;
        padding: 5% 0;
        margin: 0; }
      .create-story .data ul li div a {
        display: inline-block;
        width: 7.5%;
        margin-left: 12.5%;
        margin-top: 5%; }
        .create-story .data ul li div a:hover, .create-story .data ul li div a:focus {
          padding-bottom: 1%;
          border-bottom: 0.125rem solid #2C2C2C;
          outline: 0; }
        .create-story .data ul li div a svg {
          width: 75%;
          height: auto; }
      .create-story .data ul li div:first-child img {
        width: 100%; }
  .create-story form ul li input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0; }
    .create-story form ul li input[type='checkbox']:checked ~ .check,
    .create-story form ul li input[type='checkbox']:focus ~ .check {
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      display: block;
      opacity: 1;
      width: 100%;
      height: 80%; }
    .create-story form ul li input[type='checkbox']:checked ~ img {
      opacity: .3; }
  .create-story form ul li div.content {
    position: relative; }
  .create-story form ul li div:hover .check,
  .create-story form ul li label div input[type='checkbox']:focus + .check {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    opacity: 1;
    width: 100%;
    height: 80%; }
  .create-story form ul li label div:hover .check::after,
  .create-story form ul li input[type='checkbox']:focus ~ .check::after {
    position: absolute;
    left: calc((100% - 3.125rem) / 2);
    top: calc((100% - 3.125rem) / 2);
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    background: url(/images/icons/unchecked.svg) no-repeat center;
    background-size: 3.125rem 3.125rem;
    content: '';
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out; }
  .create-story form ul li input[type='checkbox']:checked ~ .check::after {
    position: absolute;
    left: calc((100% - 3.125rem) / 2);
    top: calc((100% - 3.125rem) / 2);
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    background: url(/images/icons/checked.svg) no-repeat center;
    background-size: 3.125rem 3.125rem;
    content: '';
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out; }
  .create-story .selected-images {
    position: fixed;
    z-index: 999;
    bottom: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    height: 20vh;
    background-color: #DA383F;
    box-shadow: 0.0625rem 0.0625rem 0 0.25rem rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(20vh);
    -moz-transform: translateY(20vh);
    -o-transform: translateY(20vh);
    transform: translateY(20vh);
    -webkit-transition: transform 0.7s;
    -moz-transition: transform 0.7s;
    -o-transition: transform 0.7s;
    transition: transform 0.7s; }
    @media all and (min-width: 50em) {
      .create-story .selected-images {
        width: 80vw; } }
    .create-story .selected-images::-webkit-scrollbar {
      width: .625rem; }
    .create-story .selected-images::-webkit-scrollbar-track {
      opacity: .5;
      background: #DA383F; }
    .create-story .selected-images::-webkit-scrollbar-thumb {
      border-radius: .625rem;
      background: #FFFFFF; }
      .create-story .selected-images::-webkit-scrollbar-thumb:hover {
        background: #2C2C2C; }
    .create-story .selected-images a {
      cursor: zoom-in;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .create-story .selected-images a:hover, .create-story .selected-images a:active, .create-story .selected-images a:focus {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9); }
    .create-story .selected-images img {
      display: inline-block;
      height: 15vh;
      margin-top: 1.5vh;
      margin-right: 2%; }
      .create-story .selected-images img:last-of-type {
        padding-right: 2%; }
  .create-story .show-selected-images {
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    transform: translateY(0) !important; }
  .create-story .next-page .submit-chapter {
    position: fixed;
    z-index: 11;
    right: 2vw;
    bottom: 22vh;
    width: 50vw;
    -webkit-transform: translateY(30vh);
    -moz-transform: translateY(30vh);
    -o-transform: translateY(30vh);
    transform: translateY(30vh); }
    @media all and (min-width: 50em) {
      .create-story .next-page .submit-chapter {
        width: 15vw; } }
    .create-story .next-page .submit-chapter + span {
      position: fixed;
      z-index: 12;
      right: 1vw;
      bottom: 27.5vh;
      width: 2rem;
      height: 2rem;
      padding: .25%;
      border: 0.1875rem solid #DA383F;
      border-radius: 50%;
      color: #2C2C2C;
      background-color: #FFFFFF;
      text-align: center;
      -webkit-transform: translateY(35vh);
      -moz-transform: translateY(35vh);
      -o-transform: translateY(35vh);
      transform: translateY(35vh); }
      @media all and (min-width: 50em) {
        .create-story .next-page .submit-chapter + span {
          bottom: 27.5vh; } }

.my-story {
  /********************
    Article
  ********************/
  /********************
    Copy link modal
  ********************/
  /********************
    Sticky title
  ********************/
  /********************
    Images grid
  ********************/ }
  .my-story nav ol {
    z-index: 100; }
  .my-story nav > a {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    display: block;
    width: 5rem;
    height: 5rem;
    padding: 2.1875rem; }
    .my-story nav > a:hover, .my-story nav > a:active, .my-story nav > a:focus {
      background-color: #2C2C2C; }
    .my-story nav > a img {
      width: 100%;
      height: auto; }
  .my-story nav .register-years {
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    width: 5rem;
    height: 100vh;
    padding: 0;
    padding-top: 5rem;
    margin: 0;
    background-color: #DA383F; }
    .my-story nav .register-years > li {
      display: block;
      width: 5rem; }
      .my-story nav .register-years > li:hover, .my-story nav .register-years > li:focus, .my-story nav .register-years > li.active-menu {
        background-color: #2C2C2C; }
      .my-story nav .register-years > li > a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -o-align-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 .5rem;
        color: #FFFFFF;
        font-size: 1.25rem;
        text-decoration: none; }
  .my-story nav .register-chapters {
    position: fixed;
    z-index: 100;
    left: 5rem;
    top: 0;
    display: none;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: calc(100% - 5rem);
    height: 5rem;
    padding: 0;
    margin: 0;
    background-color: #DA383F; }
    .my-story nav .register-chapters.show-chapter {
      z-index: 1000;
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: flex; }
    .my-story nav .register-chapters > li {
      display: block;
      height: 5rem; }
      .my-story nav .register-chapters > li > a {
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        margin-left: 2rem;
        color: #DA383F; }
      .my-story nav .register-chapters > li > button {
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        margin-left: 2rem; }
  .my-story .personal-data {
    display: block;
    margin: 2.1875rem 5%; }
  .my-story main {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    margin-top: 5rem; }
    .my-story main .action-btn {
      position: fixed;
      z-index: 100;
      left: 0;
      bottom: 0;
      width: 5rem;
      height: 5rem;
      padding: 2.1875rem;
      border-radius: 0; }
      @media all and (min-width: 50em) {
        .my-story main .action-btn {
          left: inherit;
          top: 0;
          right: 0;
          bottom: none;
          width: auto;
          height: 3.125rem;
          padding: 0 1rem;
          border-radius: .625rem;
          margin: 2.1875rem; } }
      .my-story main .action-btn > svg {
        height: 100%; }
        @media all and (min-width: 50em) {
          .my-story main .action-btn > svg {
            display: none; } }
      .my-story main .action-btn > span {
        display: none; }
        @media all and (min-width: 50em) {
          .my-story main .action-btn > span {
            display: block; } }
  .my-story .modal-overlay {
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    display: none;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2.1875rem;
    background-color: rgba(0, 0, 0, 0.8); }
    .my-story .modal-overlay.show {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: flex; }
  .my-story .modal {
    position: relative;
    display: block;
    width: 100%;
    max-width: 40rem;
    padding: 2.1875rem;
    border-radius: .625rem;
    background-color: #FFFFFF; }
    .my-story .modal p {
      margin: 4.375rem 0;
      font-size: 1.25em; }
  .my-story .modal-close-btn {
    position: absolute;
    top: -1.5625rem;
    right: -1.5625rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #DA383F;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer; }
    .my-story .modal-close-btn:hover, .my-story .modal-close-btn:focus {
      background-color: #2C2C2C; }
    .my-story .modal-close-btn > svg {
      width: 100%;
      height: auto;
      fill: #FFFFFF; }
  .my-story .copy-link {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex; }
    .my-story .copy-link input {
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -o-flex: 1 1 auto;
      flex: 1 1 auto;
      display: block;
      min-width: 0;
      height: 4rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: 0;
      color: #2C2C2C;
      background-color: #f2f2f2;
      font-size: 1.25em;
      font-weight: 300; }
      .my-story .copy-link input:hover, .my-story .copy-link input:focus {
        background-color: rgba(0, 0, 0, 0.15); }
    .my-story .copy-link button {
      height: 4rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .my-story article {
    width: 90%;
    margin-left: 5%; }
    .my-story article:last-of-type {
      min-height: 100vh; }
  .my-story .title-sticky {
    position: sticky;
    z-index: 0;
    top: 0;
    padding: 2% 0;
    background-color: #FFFFFF; }
  .my-story img.crosses {
    width: 4rem;
    margin-bottom: 2.1875rem; }
  .my-story h2 {
    width: 100%; }
  .my-story main ul {
    -webkit-columns: 15rem 3;
    -moz-columns: 15rem 3;
    -o-columns: 15rem 3;
    columns: 15rem 3;
    padding: 0;
    margin: 0;
    list-style: none; }
    .my-story main ul li {
      display: inline-block;
      opacity: 1;
      border-radius: 5px;
      margin-bottom: 10%;
      color: #2C2C2C;
      background-color: #FFFFFF;
      break-inside: avoid; }
      .my-story main ul li div p {
        display: inline-block;
        width: 75%;
        padding: 2%;
        border: 1px solid transparent;
        margin: 0; }
        .my-story main ul li div p::after {
          display: inline-block;
          width: .9375rem;
          height: .9375rem;
          margin-left: 5%;
          background-image: url(/images/icons/edit.svg);
          background-size: .9375rem .9375rem;
          content: ''; }
        .my-story main ul li div p:active, .my-story main ul li div p:focus {
          border: 0.0625rem solid #2C2C2C;
          outline: none; }
          .my-story main ul li div p:active::after, .my-story main ul li div p:focus::after {
            background-image: none; }
      .my-story main ul li div a {
        display: inline-block;
        width: 7.5%;
        margin-left: 5%;
        margin-top: 5%; }
        .my-story main ul li div a:hover, .my-story main ul li div a:focus {
          padding-bottom: 1%;
          border-bottom: 0.125rem solid #2C2C2C;
          outline: 0; }
        .my-story main ul li div a img {
          width: 75%; }
      .my-story main ul li div:first-child img {
        width: 100%; }
