.action-btn {
  @include prefix(display, inline-flex);
  @include prefix(flex-wrap, nowrap);
  @include prefix(justify-content, space-between);
  @include prefix(align-items, center);
  min-height: 3.125rem;
  padding: .9375rem $spacing-unit;
  border: .1875rem solid $color-black;
  border-radius: #{2 * $spacing-unit};
  outline: 0;
  color: $color-black;
  background-color: transparent;
  font-family: $subheading-ff;
  font-size: 1.25em;
  font-weight: $heading-fw;
  text-align: left;
  text-decoration: none;
  line-height: $subheading-lh;
  cursor: pointer;
  @include prefix(transition, all .3s ease);
  @include smallScreen() {
    min-height: #{2 * $spacing-unit};
    padding: 1.5625rem #{1.5 * $spacing-unit};
    border: .3125rem solid $color-black;
  }

  & > svg {
    @include prefix(flex, 0 0 auto);
    display: block;
    width: auto;
    height: 1rem;
    margin-left: #{.5 * $spacing-unit};
    fill: $color-black;
    @include prefix(transform, translateX(0));
    @include prefix(transition, all .3s ease);
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-white;
    background-color: $color-black;
    & > svg {
      fill: $color-white;
      @include prefix(transform, translateX(.625rem));
    }
  }

  &--primary {
    border-color: $color-primary;
    color: $color-primary;
    & > svg { fill: $color-primary; }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-primary;
    }
  }

  &--white {
    border-color: $color-white;
    color: $color-white;
    & > svg { fill: $color-white; }

    &:hover,
    &:active,
    &:focus {
      color: $color-black;
      background-color: $color-white;
      & > svg { fill: $color-black; }
    }
  }
}
