.copy-to-clipboard {
  @include prefix(display, flex);
  @include prefix(flex-wrap, nowrap);
  height: #{2 * $spacing-unit};
  border-radius: .625rem;
  background-color: $color-primary-dark;

  & > input[type='text'] {
    @include prefix(flex, 1 0 auto);
    display: block;
    height: 100%;
    padding: 1.5625rem $spacing-unit;
    padding-right: 0;
    border: 0;
    border-radius: .625rem 0 0 .625rem;
    outline: 0;
    color: $color-white;
    background-color: $color-primary-dark;
    font-family: $base-ff;
    font-size: 1.25em;
    font-weight: $base-fw;
    line-height: 1;
    @include prefix(transition, background-color .3s ease);

    &:hover,
    &:focus {
      background-color: rgba(44,44,44,.4);
    }
  }

  & > .copy-btn {
    @include prefix(flex, 0 0 auto);
    display: block;
    opacity: 1;
    width: #{2 * $spacing-unit};
    height: #{2 * $spacing-unit};
    padding: 1.5625rem;
    border: 0;
    border-radius: 0 .625rem .625rem 0;
    outline: 0;
    background-color: $color-primary-dark;
    cursor: pointer;
    @include prefix(will-change, transform);
    @include prefix(transition, background-color .3s ease);

    & > svg {
      width: 100%;
      height: auto;
      fill: $color-white;
      @include prefix(transform, scale(1,1) translateY(0));
      @include prefix(transition, transform .3s ease);
    }

    &:hover,
    &:focus {
      background-color: rgba(44,44,44,.4);
      & > svg { @include prefix(transform, scale(1.4,1.4) translateY(0)); }
    }
  }

  &.copied {
    background-color: $color-secondary;

    & > input[type='text'] {
      background-color: $color-secondary;
    }

    & > .copy-btn {
      background-color: $color-secondary;

      & > svg {
        @include prefix(animation, jump 1s ease-out);
      }
    }
  }
}

@-webkit-keyframes jump {
  0% {
    opacity: 1;
    -webkit-transform: scale(1,1) translateY(0);
  }
  50% {
    opacity: .25;
    -webkit-transform: scale(1,1) translateY(-125%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1,1) translateY(0);
  }
}
