.photo {
  @include prefix(break-inside, avoid);
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: $spacing-unit;

  &.placeholder {
    padding-bottom: 50%;
    background-color: rgba(44,44,44,.2);

    &::after {
      position: absolute;
      left: calc((100% - #{1 * $spacing-unit} - 1.25rem) / 2);
      top: calc((100% - #{1 * $spacing-unit} - 1.25rem) / 2);
      display: block;
      width: #{1 * $spacing-unit};
      height: #{1 * $spacing-unit};
      border: .625rem solid transparent;
      border-radius: 50%;
      border-top-color: $color-black;
      background-color: transparent;
      content: '';
      @include prefix(transform, rotate(0deg));
      @include prefix(animation, loading 1s ease-in-out infinite);
    }
  }

  &__img {
    position: relative;
    display: block;
    cursor: zoom-in;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      opacity: 0;
      background-color: rgba(255,255,255,.2);
      content: '';
      @include prefix(transition, opacity .3s ease);
    }

    & > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: #{.5 * $spacing-unit};
    color: $color-white;
    background-color: $color-primary-dark;
    @include prefix(pointer-events, none);
    @include prefix(transform, translateY(100%));
    @include prefix(transition, transform .3s ease);
  }

  &:hover {
    & .photo__img::after { opacity: 1; }
    & .photo__desc { @include prefix(transform, translateY(0)); }
  }
}
