.photo {
  @include prefix(break-inside, avoid);
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: $spacing-unit;

  & > * {
    opacity: 1;
    @include prefix(pointer-events, auto);
    @include prefix(transition, opacity .3s ease);
  }

  &.lazy {
    background-color: rgba(44,44,44,.2);

    & > * {
      opacity: 0;
      @include prefix(pointer-events, none);
    }
  }

  &__img {
    position: relative;
    display: block;
    cursor: zoom-in;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      opacity: 0;
      background-color: rgba(255,255,255,.2);
      content: '';
      @include prefix(transition, opacity .3s ease);
    }

    & > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: #{.5 * $spacing-unit};
    color: $color-white;
    background-color: $color-primary-dark;
    @include prefix(pointer-events, none);
    @include prefix(transform, translateY(100%));
    @include prefix(transition, transform .3s ease);
  }

  &:hover {
    & .photo__img::after { opacity: 1; }
    & .photo__desc { @include prefix(transform, translateY(0)); }
  }
}
