.share-modal__overlay {
  position: fixed;
  z-index: 11;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding: #{.5 * $spacing-unit};
  background-color: $color-primary;
  box-shadow: 0 0 0 .625rem rgba(44,44,44,.2);
  @include prefix(pointer-events, none);
  @include prefix(transform, translateY(100%));
  @include prefix(transition, transform .3s ease);

  &.show {
    @include prefix(pointer-events, auto);
    @include prefix(transform, translateY(0));
  }
}

.share-modal {
  position: relative;
  display: block;
  width: 100%;
  @include smallScreen() {
    width: calc(100% - 10vw);
    margin-left: 10vw;
  }

  & h2 {
    margin: #{.5 * $spacing-unit};
    margin-bottom: 0;
    color: $color-white;
  }

  & p {
    margin: #{.5 * $spacing-unit};
    margin-bottom: 0;
  }

  & .copy-to-clipboard {
    max-width: 32rem;
    margin: #{.5 * $spacing-unit};
    margin-top: 0;
  }

  & .close-btn {
    position: absolute;
    top: #{-.5 * $spacing-unit};
    right: #{.5 * $spacing-unit};
    display: block;
    width: #{$spacing-unit};
    height: #{$spacing-unit};
    padding: .71875rem;
    border: 0;
    border-radius: 50%;
    outline: 0;
    background-color: $color-white;
    cursor: pointer;
    @include prefix(transform, scale(1,1));
    @include prefix(transition, transform .3s ease);

    & > svg {
      display: block;
      width: 100%;
      height: auto;
      fill: $color-black;
    }

    &:hover,
    &:focus {
      @include prefix(transform, scale(.9,.9));
    }
  }
}
