/********************
  Year selection
********************/

.year-selection {
  @include prefix(display, flex);
  @include prefix(flex-wrap, wrap);
  @include prefix(justify-content, space-between);
  width: 100%;
  max-width: 25rem;
  list-style-type: none;
  @include smallScreen() {
    max-width: none;
  }

  & > li {
    @include prefix(display, flex);
    @include prefix(flex-direction, column);
    @include prefix(justify-content, space-between);
    margin: #{.25 * $spacing-unit} 0;

    & small {
      display: block;
      width: 100%;
      color: $color-black;
    }

    & select {
      display: block;
      height: #{2 * $spacing-unit};
      padding: 1.5625rem $spacing-unit;
      padding-right: #{2 * $spacing-unit};
      border: 0;
      border-radius: .625rem;
      outline: 0;
      margin-top: #{.5 * $spacing-unit};
      color: $color-white;
      background-color: $color-primary-dark;
      background-image: url(../images/icons/select.svg);
      background-position: calc(100% - #{$spacing-unit}) 50%;
      background-repeat: no-repeat;
      background-size: 1rem auto;
      font-family: $heading-ff;
      font-size: 1.25em;
      font-weight: $heading-fw;
      line-height: 1;
      @include prefix(appearance, none);
      @include prefix(transition, background-color .3s ease);

      &:hover,
      &:focus {
        background-color: rgba(44,44,44,.4);
      }
    }
  }
}
