.create-story {
  .back {
    z-index: 1000000;
    position: absolute;
    width: 20px;
    left: 10px;
    top: 10px;
    @include smallScreen() {
      position: fixed;
      left: 30px;
    }
  }
}
