.create-story {
  .back {
    z-index: 1000000;
    position: absolute;
    width: 20px;
    left: $spacing-unit;
    top: 0px;
    @include smallScreen() {
      position: fixed;
      top: 10px;
    }
  }
}
